<mat-toolbar color="primary">

  <mat-toolbar-row>
    <mat-icon class="example-icon">verified_user</mat-icon>
    <span class="example-spacer"></span>
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput
               id="search"
               #box
               (keyup)="onKey(box.value)"
               name="search"
               placeholder="Find gifs">
      </mat-form-field>

    </form>
  </mat-toolbar-row>

</mat-toolbar>

<div class="row">
  <img *ngFor="let gif of gifs" src="{{gif.source}}">
</div>

<spinner *ngIf="loading"></spinner>

<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScroll()">
</div>


