.example-icon
  padding: 0 14px

.example-spacer
  flex: 1 1 auto

.example-form
  min-width: 150px
  max-width: 500px
  width: 100%

.example-full-width
  width: 100%

.mat-toolbar-row
  height: 100px

.mat-form-field-wrapper
  padding-top: 1.25em

.row
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  align-items: center
  img
    display: block
    margin: 5px
    max-width: 300px
    max-height: 300px
